Classroom Info
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
<div>
    <% @classroom.students.each do |s| %>
        <%= render partial: 'students/student', locals: {student: s} %>
    <% end %>
</div>
