Classroom Info
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
<% @classroom.students.each do |s| %>
    <div>
        <%= render partial: 'students/student', locals: {student: s} %>
    </div>
<% end %>
